nav ul a {
    color: #444;
}

.primary-color {
    color: #444;
}

.sidenav-overlay {
  z-index: 1;
}

.elegant-color {
    background-color: #545454;
}

.footer-text {
    color: blue !important;
}

p {
  line-height: 2rem;
}